/* header---------------------------------------------------------------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 2;
  background: white;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 100px;
  background: #f4f4f4;
}
.header_h1 {
  flex: 1;
  margin-left: 20px;
  text-align: center;
}
.header_icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.header_searchIcon {
  font-size: 40px;
  margin-right: 10px;
}
/* -------------------------------------------------------- */

/* main---------------------------------------------------------------------------------------------------------------- */
.main_top{
  z-index: 0;
  margin-top: 100px;
  width:100%;
  height: 100vh;
  overflow: auto;
  margin-bottom: 50px;
}

.main_topScreen {
  width: 70%;
  max-height: 450px;
  padding: 200px;
  margin: auto;
  margin-bottom: 50px;
  background-image: url("/シーズー１.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}
.top_text_L {
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 10px;
  white-space: nowrap;
  color: #def10a;
  text-shadow: 1px 3px 5px black;
  opacity: 0.8;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.top_text_R {
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 10px;
  white-space: nowrap;
  color: #def10a;
  text-shadow: 1px 0 5px black;
  opacity: 0.8;
  padding: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.itemTitle {
  width: 100%;
  margin: auto;
  font-size:20px;
}

.main_img{
  height:100px;
}

/* -------------------------------------------------------- */



.chat_space {
  width: 100%;
  height: 800px;
  overflow: auto;
  background-image: url("/sky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.balloon_i,
.balloon_r {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.balloon_r {
  justify-content: flex-end;
}
.faceIcon img {
  width: 80px;
  height: auto;
}
.balloon_r .faceicon {
  margin-left: 25px;
}
.balloon_l .faceicon {
  margin-right: 25px;
}
.balloon_r .faceicon {
  order: 2 !important;
}
.says {
  max-width: 500px; /*æœ€å¤§å¹…ã¯ä»»æ„*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #00ff00; /*è‰²ã¯ä»»æ„*/
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
  /*   align-items: center; */
}
.says p {
  margin: 8px 0 0 !important;
}
.says p:first-child {
  margin-top: 0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  /*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #00ff00;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #00ff00;
}

.says_time_l {
  margin-left: 10px;
}

.says_time_r {
  line-height: 0px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.input_form {
  margin-bottom: 60px;
  display: flex;
}
.input {
  height: 40px;
  border-radius: 10px;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* タブレットサイズ時 */
@media (max-width: 767px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* スマホサイズ時 */
@media screen and (max-width: 479px) {
  
.main_topScreen {
  width: 80%;
  height: 3000px;
  padding: 50px;
  margin: auto;
  margin-bottom: 50px;
  background-image: url("/シーズー１.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}
.top_text_L {
 display:none;
}
.top_text_R {
  display:none;
}


}
